/* font-family: 'Inter', sans-serif;
font-family: 'Rubik Beastly', cursive; */
:root {
    --white-main: rgb(255, 255, 255, 0.8);
    --caded-blue: cadetblue;
    --transparent-white: rgb(255, 255, 255, 0.2);
    --dark-transparent-white: rgba(255, 255, 255, 0.822);
}

body{
    /* background-image: url(/images/background1.jpg); */
    background-image: url(/images/background2.jpg);
    /* background-image: url(/images/background3.jpg); */
    background-size:cover;
    /* background-position-y:40%; */
}

.mainHeadline {
    /* font-family: 'Rubik Beastly', cursive; */
    font-weight: bolder;
    color: black;
    font-size: 50px;
    background-color: var(--white-main);
    /* box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19); */

    margin: 3rem 5rem 0;
    /* width: 22rem; */
    /* border-radius: 3rem; */
    padding: 1rem;
}

.customFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.customVertialFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

/* .customFlexSpaceBetween {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
} */

.test1 {
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    height: 3rem;
    background-color: var(--transparent-white);
    margin: 0 5rem;
}

.membersContainer {
    background-color: var(--white-main);
    /* height: 2rem; */
    margin: 0 8.78rem;
    padding: 1rem;
}

#playersList {   
    font-size: 20px;
    /* font-weight: bold; */
}

.memberElement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 2rem 1rem;
    
    padding: 0.7rem 0.2rem;
    padding-left: 0;
    background-color: var(--caded-blue);
    justify-items: center;
    border-radius: 3rem;
    height: 2rem;
}

.teamLogo {
    width: 3.84rem;
    margin-top: -1.4rem;
    margin-left: -1rem;
    background-color: var(--caded-blue);
    padding: 0.5rem;
    border-radius: 4rem;
}

.addNewSec {
    background-color: var(--dark-transparent-white);
    border-radius: 1rem;
    width: 60rem;
    margin: 2rem auto;
    padding: 1rem 1rem 2rem;
    flex-direction: column;

}

.Header1 {
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 5px;
}


.boldLabel {
    font-weight: 700;
}

.selectCustom {
    border: 2px solid  var(--caded-blue);
    background-color: var(--caded-blue);
    color: white;
    transition: 0.5s;
    border-radius: 2rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
}


#enteredLogo {
    padding-left: 2rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-self: center;
    align-self: center; */
}

input[type=file]::file-selector-button {
    border: 2px solid  var(--caded-blue);
    background-color: var(--caded-blue);
    color: white;
    transition: 0.5s;
    border-radius: 2rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
}

input[type=file]::file-selector-button:hover {
    background-color: white;
    color: var(--caded-blue);
}

input[type=text]{
    border-color: var(--caded-blue);
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.customMargin {
    margin: 1rem 2rem;
}

#addNewPLayerBtn {

}

.addBtn {
    border: 2px solid  var(--caded-blue);
    background-color: var(--caded-blue);
    color: white;
    font-size: 20px;
    transition: 1s;
    border-radius: 2rem;
    padding: 0.5rem 0.85rem;
    margin: 0.5rem;
}

.addBtn:hover {
    background-color: white;
    color: var(--caded-blue);
}

.goalInput{
    width: 6.5rem;
}

.largeX {
    font-size: 90px;
    font-weight: 700;
    transform: rotate(45deg);
}


/* Modal Styling */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 35rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trophyEmoji {
    font-size:120px;
    margin-top: -1rem;
}

.modalLeaderName {
    font-size: 70px;
    margin-bottom: 1rem;
}

.modalText {
    font-size: 35px;
    color: gray;
    margin-top: 0;
}

.name {
    font-weight: bold;
}

.points {
    font-weight: bold;
}

.customMargin {
    margin: 1rem;
}

.tableContainer {
    /* width: auto; */
    margin: 2rem 9rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--dark-transparent-white);
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-content: center;
    overflow-x:auto;
}

.matchTable {
    border-spacing: 0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
    border-radius: 1rem;
    margin-bottom: 1rem;
     
}

.matchTable thead tr th{
    border-top-left-radius: 1rem;
    background-image: linear-gradient(26.5deg, #04AA6D 50%, #333 50%);
}

.matchTable thead tr td:last-of-type {
    border-top-right-radius: 1rem;
}

.matchTable tbody tr:last-of-type th {
    border-bottom-left-radius: 1rem;
}
/* 00cccc */

.matchTable thead {
    background-color: #333;
	color: white;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
    text-align: center;
}

.matchTable tbody th {
    background-color: #04AA6D;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

th, td {
    padding: 30px;
    width: 6rem;
    text-align: center;
}


tr:nth-child(even) {background-color: gray;}
/* tr th {background-color: #04AA6D;} */
/* thead tr{background-color: #04AA6D;} */
/* tr:hover {background-color: yellow;} */

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}
  
tbody:hover tr:hover td, tbody:hover tr:hover {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

.matchTable tbody tr:nth-child(1) td:nth-child(2),
.matchTable tbody tr:nth-child(2) td:nth-child(3),
.matchTable tbody tr:nth-child(3) td:nth-child(4),
.matchTable tbody tr:nth-child(4) td:nth-child(5),
.matchTable tbody tr:nth-child(5) td:nth-child(6),
.matchTable tbody tr:nth-child(6) td:nth-child(7)
{
    background-color: red;
}

.matchTable tbody tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 1rem;
}
