/* font-family: 'Public Sans', sans-serif;
   font-family: 'Roboto', sans-serif; */
:root {

    --dark-pink: #ba4270;
    --link-water-white: #fbfcfe;
    --san-juan-blue: #36536b;
    --mirage-blue: #1b262f;
    --charm-pink: #da6d97;
    --light-san-juan-blue: #6c8294;


    --light-grey: #EDF3F8;
    --dark-grey:  #D2DBE3;
    --light-dark-blue: #1F2D38;
    
    

/* 
    --hover-pink: #DA6D97;
    --dark-pink: #BA4270;
    --test1: #E3EAF0;
    --test2: #EBF2F7;
    --test3: #EDF3EB;
    --test4: #36536B;
    --test5: #EBF1F6;
    --test6: #FBFCFE; */

    
}

body {
    
    background-color: var(--light-grey);
    
}

.containerForNavAndFirstSection {
    background-image: url("../images/home/desktop/bg-pattern-circle.svg");
    background-position: 44rem -10rem;
    background-repeat: no-repeat;

}

.navbar {
    margin: 2rem 4rem;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-top: 3rem;
    margin-top: 0;
}

.logoImage {
    margin-right: 2rem;
}

.nav-link {
    color: var(--light-san-juan-blue);
    margin: 0 1.5rem;
}

.demoBtn {
    border-radius: 2rem;
    background-color: var(--dark-pink);
    color: #fff;
    padding: 0.6rem 1.5rem;
    z-index: +1;
}

.callToAtionSection {
    padding: 1rem 5rem;
    margin: 2rem 0 0;
    display: flex;
    
}

.callToActionMessage {
    margin: 10rem 7rem 1rem 0;
}

.slogan {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 72px;
    color: var(--san-juan-blue);
    line-height: 72px;
}

.emailField {
    padding: 1.8rem 7.5rem 0 0;
}

.eAddress {
    border-radius: 2rem;
    margin: 0 -2rem 1rem 0;
    padding: 0.5rem;
    padding-left: 1rem;
    border: 0px solid rgba(255,255,255,.5);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.contactUsQuestion {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--light-san-juan-blue);
    padding: 0 1rem;
}

.contactUsLink {
    text-decoration: underline;
    color: var(--light-san-juan-blue);

}

.whoWeWorkWith {
    padding: 6rem 5rem;
    background-color: var(--mirage-blue);
    color: var(--link-water-white);
    background-image: url("../images/home/desktop/bg-pattern-circle.svg");
    background-position: -20rem -22.5rem;
    background-repeat: no-repeat;
}

.whoWeWorkWithHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.whoWeWorkWithMessage {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #D2DBE3;
    margin: 1rem 5rem 2rem 0;
}

.aboutUsBtn {
    border-radius: 2rem;
    padding: 0.7rem 2rem;
}

.companiesLogosCol {
    padding: 5rem 0 0 2rem;
    width: auto;
    display: grid;
    grid-template: 0.2fr 0.2fr / 1fr 1fr 1fr;
    justify-items: end;
    gap: 30px;
}

.companySvg {
    margin: 0 0;
    justify-self: center;
    filter: invert(99%) sepia(47%) saturate(0%) hue-rotate(261deg) brightness(300%) contrast(101%);
    /* margin: 1.1rem; */
}

.advertisement {
    background-image: url("../images/home/desktop/bg-pattern-circle.svg");
    background-position: 60rem 25rem;
    background-repeat: no-repeat;
}

.flexRow {
    display: flex;
    padding: 0 1rem ; 
}


.advertisementRowHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    font-size: 48px;
    line-height: 56px;
    color: var(--san-juan-blue);
}

.advertisementRowContent {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: var(--light-san-juan-blue);
}

.easyToImplementParagraph {
    margin: 9.5rem 14rem 0 0;
}

.simpleUiAndUxParagraph {
    margin: 16.5rem 5rem 0 4rem;
}

.advertisementThirdRow {
    margin: 1rem 4rem 5rem;
    
}

.advertisementCard {
    text-align: center;
}

.advertisementCard h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--san-juan-blue);
    margin: 2rem;
}

.advertisementCard p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: var(--light-san-juan-blue);
}

.advertisementFourthRow {
    padding: 1rem 5rem;
    /* justify-content: center;
    align-content: center; */
    
}
 
.advertisementFourthRow h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    font-size: 48px;
    line-height: 56px;
    color: var(--san-juan-blue);
    width: 50rem;
}

.advertisementFourthRow form {
    padding: 0.5rem 1rem 2rem 15rem ;
}

footer {
    background-color: var(--mirage-blue);
    margin: 2rem 0 0;
    padding: 1.75rem 5rem;
    display: flex;
    justify-content: space-between;
}

.logoImageWhite {
    filter: invert(99%) sepia(47%) saturate(0%) hue-rotate(261deg) brightness(300%) contrast(101%);
}

.footerLinksContainer {
    margin: 0.5rem 2.5rem;
}

.footerLink {
    color: var(--dark-grey);
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0 2rem;
}

.footerLeftSide {
    display: flex;
}

.footerIconsContainer {
    margin-right: 0.5rem;
}

.footerIcon {
    margin: 0.5rem;
}