
/* font-family: 'Public Sans', sans-serif; */
/* weights : 300m 400, 700 */
:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%)    ;
}

body {
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
}

/* Navigation Bar */

.navbar {
    background-color: #fff;
    z-index: +2;
    padding: 1rem 6rem;
    
}

.navbar-nav {
    margin-right: auto;
}


/* .flexNavbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
    border: 0;
    z-index: +2;
    background-color: #fff;
} */

.nav-link {
    font-weight: 400;
    color: var(--grayish-blue);
}

.nav-link:hover {
    color: var(--dark-blue);
}

.requestBtn {
    color: var(--white);
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}

.requestBtn:hover {
    background-image: linear-gradient(to right,hsl(120, 35%, 66%),hsl(192, 52%, 65%));
}

/* Call To Action Section */

.callToActionSection {
    background-color: var(--very-light-gray);
    background-image: url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 45rem -16rem;
    display: flex;
}

.callToActionDiv {
    padding: 12rem 0 12rem 7rem;
    max-width: 35rem;
}

.callToActionslogan {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 50px;
}

.callToActionParagraph {
    color: var(--grayish-blue);
    font-size: 18px;
    padding: 1rem 0;
}

.phonesImage {
    /* margin: -5rem -8rem -10rem 0; */
    /* z-index: 0; */
    margin-left: auto;
    position: absolute;
    right: -8%;
    top: -3%;
}

/* Why Choose Easybank Section */

.whyEasybankSection {
    background-color: var(--light-grayish-blue);
    
}

.specsCardsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.specsCard {
    margin-right: 1rem;
    width: 17.5rem;
    /* min-width: 18rem; */
}

.whyEasybankSection {
    padding: 4rem 7rem;
}

.sectionHeader {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 1rem;
    color: var(--dark-blue);
}

.whyEasybankSection p {
    color: var(--grayish-blue);
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 4rem;
}

.specsCard img {
    margin-bottom: 2rem;
}

.specsCardHeader {
    font-weight: 400;
    color: var(--dark-blue);
}

.specsCard p {
    font-size: 17px;
    padding: 1rem 0rem 0 0;
}

.latestArticlesSection {
    background-color: var(--very-light-gray);
    padding: 4rem 7rem;
}

.articlesBox {
    margin: 2.5rem -1rem;
    display: flex;
    flex-wrap: wrap;
}

.article {
    margin: 1rem;
    width: 20rem;
}

.articleImage {
    width: 100%;
    height: 50%;
    /* width: 20rem; */
}

.articleAndHeaderBox {
    background-color: #fff;
    padding: 2rem;
}

.articleAuthor {
    color: var(--grayish-blue);
    font-size: 13px;
}

.articleHeader {
    color: var(--dark-blue);
    padding: 0.4rem 3rem 0.1rem 0;
}

.article p {
    color: var(--grayish-blue);
    padding: 0 0.7rem 0 0;
    margin-bottom: 0;
}

footer {
    background-color: var(--dark-blue);
    display: flex;
    padding: 2.5rem 7rem;
    justify-content: space-between;
}

.footerLogo {
    margin-bottom: 3rem;
}

.footerIconsContainer {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(5, 0.6fr);  
}

.footerIconsContainer .nav-item:hover {
    filter: invert(35%) sepia(59%) saturate(5818%) hue-rotate(152deg) brightness(100%) contrast(75%);
}

.footerNavLinksContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    columns: 2;
    column-gap: 8rem;
}

.footerNavLink {
    padding: 5px 0;   
}

.footerNavLink:hover {
    color: #209276;
}

.footerRequestBtn {
    float: right;
    margin-bottom: 1.5rem;
}

.copyrights {
    color: var(--grayish-blue);
    float: right;
}

@media only screen and (max-width: 1200px) {
    .navbar {
        padding: 0.5rem 2rem;
    }

    .navbar-nav {
        text-align: center;
        margin: 1rem;
    } 

    .navbar .requestBtn {
        display: none;
    }
    
    .callToActionSection {
        flex-direction: column-reverse;
        background-image: url(/images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 0;
        z-index: -2;
    }
    
    .phonesImage {
        position: static;
        size: 20%;
        padding: 1rem;
        margin: 0;
        z-index: 0;
        margin-top: -11rem;
    }

    .callToActionDiv {
        padding: 1.4rem;
        text-align: center;
        margin-bottom: 4rem;
    }
    .callToActionslogan {
        margin: 0;
    }

    .whyEasybankSection {
        text-align: center;
        padding: 4rem 2rem;
    }

    .sectionHeader {
        padding: 0rem 1rem;
    }

    .specsCardsBox {
        justify-content: center;
    }

    .specsCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-right: 1rem;
        width: auto;
    }

    .specsCard img {
        /* size: 10px; */
        width: 6rem;
        margin: 1rem auto;
    }

    .latestArticlesSection {
        padding: 3rem 1rem;
    }

    .latestArticlesSection h3 {
        padding: 0 6rem;
    }

    .articlesBox{
        margin: 0;
        /* padding: 0; */
    }

    .article {
        width: auto;
        margin: 0 1rem;
    }

    .articleHeader {
        padding: 0.5rem;
    }
    
    .articleAndHeaderBox p {
        padding: 0;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .logoAndIconsContainer {
        margin: 1.5rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footerLogo {
        margin-bottom: 2rem;
        justify-self: center;
    }

    .footerIconsContainer {
        grid-gap: 30px;
    }

    .footerNavLinksContainer {
        columns: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .btnAndCopyrightsContainer {
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footerRequestBtn, .copyrights {
        float: none;
        margin: 0.3rem;
    }
}